@layer base {
  .primary-green {
    --color-primary: var(--color-green);
    --color-primary-soft: var(--color-green-soft);
    --color-primary-dark: var(--color-green-dark);
    --color-secondary: var(--color-purple);
    --color-secondary-soft: var(--color-purple-soft);
    --color-secondary-dark: var(--color-purple-dark);
  }

  .primary-purple {
    --color-primary: var(--color-purple);
    --color-primary-soft: var(--color-purple-soft);
    --color-primary-dark: var(--color-purple-dark);
    --color-secondary: var(--color-green);
    --color-secondary-soft: var(--color-green-soft);
    --color-secondary-dark: var(--color-green-dark);
  }

  .page-embed {
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      height: auto;
    }
  }

  .page-content {
    --page-padding: calc(var(--spacing) * 5);

    *:last-child:is(.page-embed, .page-image),
    .gutenberg *:last-child:is(.wp-block-embed, .wp-block-image) {
      margin-bottom: calc(-1 * var(--page-padding));
    }
  }

  .gutenberg {
    .wp-block-image {
      margin-inline: calc(-1 * var(--page-padding));

      img {
        width: 100%;
      }
    }

    .wp-block-heading {
      color: var(--color-secondary);
    }

    .wp-element-caption {
      font-size: var(--text-xs);
      color: var(--color-secondary);
      opacity: 0.75;
      margin-top: 0.5rem;
    }

    .wp-block-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      margin-inline: calc(-1 * var(--page-padding));

      .wp-block-image {
        margin: 0;
      }
    }

    [class^="wp-block-"] {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    .wp-block-paragraph:not(:last-child) {
      margin-bottom: 1em;
    }

    .wp-block-quote {
      border-left: 5px var(--color-primary) solid;
      padding-left: 1rem;
    }

    .wp-block-file {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: color-mix(in oklab, var(--color-primary) 25%, transparent);
      border-radius: 0.75rem;
      padding: 0.5rem 1rem;

      a {
        text-decoration: none;
      }
    }

    .wp-block-details {
      summary {
        background: color-mix(in oklab, var(--color-primary) 25%, transparent);
        color: var(--color-primary);
        font-weight: bold;
        border-radius: 0.75rem;
        padding: 0.5rem 1rem;
        padding-right: 0.5rem;
        cursor: pointer;
        margin-bottom: 1rem;

        &:hover {
          background: color-mix(
            in oklab,
            var(--color-primary) 50%,
            transparent
          );
          color: color-mix(in oklab, var(--color-primary) 75%, black);
        }
      }
    }

    .wp-element-button {
      background: var(--color-primary);
      color: white;
      padding: 0.5rem 1rem;
      font-weight: bold;
      border-radius: 0.5rem;
      text-decoration: none;
      display: inline-block;

      &:hover {
        background: color-mix(in oklab, var(--color-primary) 75%, black);
      }
    }

    .wp-block-columns.is-layout-flex {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;

      .wp-block-column {
        flex: 1;
      }
    }

    .wp-block-column .wp-block-image {
      margin-inline: 0;
      margin-bottom: 0 !important;
    }

    .wp-block-column.is-layout-flow {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .wp-block-paragraph {
        margin-bottom: 0;
      }
    }

    .wp-block-media-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      align-items: center;
    }

    .wp-block-buttons {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .is-content-justification-center {
      justify-content: center;
    }
  }

  @media (width <= 48rem) {
    .wp-block-media-text.is-stacked-on-mobile {
      grid-template-columns: 1fr;
    }
  }

  @media (width >= 64rem) {
    .page-content {
      --page-padding: calc(var(--spacing) * 10);
    }
  }
}
