@layer utilities {
  .underlined-on-hover:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: var(--border-width);
  }

  .underlined,
  .underlined-to-bold {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
    transition: 0.25s ease;
  }

  .underlined-to-bold:hover {
    font-weight: 700;
    letter-spacing: -0.0225em;
  }

  .page-container {
    width: 100%;
    max-width: var(--breakpoint-3xl);
    margin-inline: auto;
    padding-inline: var(--spacing-inner);
    padding-block: calc(var(--spacing-inner) / 2);
  }

  .contained {
    width: 100%;
    max-width: var(--breakpoint-3xl);
    margin-inline: auto;
  }
}
