@layer utilities {
  .underlined-on-hover:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: var(--border-width);
  }

  .underlined,
  .underlined-to-bold {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
    transition: 0.25s ease;
  }

  .underlined-to-bold:hover {
    font-weight: 700;
    letter-spacing: -0.0225em;
  }

  .selection-yellow {
    --color-selection-foreground: var(--color-green);
    --color-selection-background: var(--color-yellow);
  }

  .green-gradient {
    background: linear-gradient(
      to bottom,
      color-mix(in oklab, var(--color-green) 0%, transparent) 0%,
      color-mix(in oklab, var(--color-green) 100%, transparent) 85%
    );
  }

  .bg-flower {
    background-image: url("../images/flower.svg");
    background-size: 25vw;
    background-position: bottom -6% right;
    background-repeat: no-repeat;
  }

  .focus-secondary {
    --color-focus: var(--color-secondary);
  }

  .focus-yellow {
    --color-focus: var(--color-yellow);
  }

  .adjust-baseline {
    display: inline-block;
    transform: translateY(0.1em);
  }
}
