@layer utilities {
  .underlined-on-hover:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: var(--border-width);
  }

  .underlined,
  .underlined-to-bold {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
    transition: 0.25s ease;
  }

  .underlined-to-bold:hover {
    font-weight: 700;
    letter-spacing: -0.0225em;
  }

  .selection-yellow {
    --color-selection-foreground: var(--color-green);
    --color-selection-background: var(--color-yellow);
  }

  .selection-secondary {
    --color-selection-foreground: var(--color-white);
    --color-selection-background: var(--color-secondary);
  }

  .green-gradient {
    background: linear-gradient(
      to bottom,
      color-mix(in oklab, var(--color-green) 0%, transparent) 0%,
      color-mix(in oklab, var(--color-green) 100%, transparent) 85%
    );
  }

  .filter-gradient {
    background: linear-gradient(
      to bottom,
      color-mix(in oklab, var(--color-primary-soft) 100%, transparent) 10%,
      color-mix(in oklab, var(--color-primary-soft) 80%, transparent) 50%,
      color-mix(in oklab, var(--color-primary-soft) 0%, transparent) 100%
    );
  }

  /* .filter-filler::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    right: 0;
    background: var(--color-primary-soft);
    height: 10rem;
    z-index: 2;
  } */

  .bg-flower {
    background-image: url("../images/flower.svg");
    background-size: auto 60vh;
    background-position: bottom -6% right;
    background-repeat: no-repeat;
  }

  .focus-secondary {
    --color-focus: var(--color-secondary);
  }

  .focus-primary-transparent {
    --color-focus: color-mix(in oklab, var(--color-primary) 65%, transparent);
  }

  .focus-yellow {
    --color-focus: var(--color-yellow);
  }

  .adjust-baseline {
    display: inline-block;
    transform: translateY(0.1em);
  }
}
